{%- assign wsMeta = product.metafields['tsio-workshop'] -%}
{%- assign wsData = wsMeta['data'] -%}
{%- assign wsEnds = wsData['ends_at'] -%}
{%- assign wsTarget = wsData['threshold'] -%}
{%- assign wsSales = wsData['num_sold'] -%}
{%- assign wsProgress = wsSales | times: 100 | divided_by: wsTarget | round -%}
<li id="campaign-{{ product.handle }}" class="product-campaign"
  data-id="{{ product.id }}"
  data-project-end="{{ wsEnds | remove: '/' }}">
  {%- assign overlayPlacement = 'left' %}
  {%- assign img = product.images.last -%}
  {%- assign alt = img.alt | remove: 'workshop header' | remove: '[tl]' | remove: '[tr]' | rstrip -%}
  {%- if img.alt contains '[tr]' -%}{%- assign overlayPlacement = 'right' %}{%- endif -%}
  <figure class="img-above{% if overlayPlacement == 'right' %} overlay-right{% endif %}">
    <a href="{{ product.url | within: collection }}">
      {%- include 'tsio-workshop-responsive-image', fileName: img, alt: alt, classes: 'lazyunload' -%}
    </a>
    <figcaption{% if img.alt == 'tr' %} class="text-right"{% endif %}>
      <a href="{{ product.url | within: collection }}">
        {%- assign splitTitle = product.title | split: ' in ' -%}
        <span class="heading">{{ splitTitle[0] | rstrip }}</span>
        {%- if splitTitle.size > 1 -%}
          <span class="sub-heading">&thinsp;<i>in</i>{{ splitTitle[1] | lstrip }}</span>
        {%- endif -%}
      </a>
    </figcaption>
  </figure>
  <span class="ws-data" data-ws-progress="{% if wsProgress >= 100 %}100%{% else %}{{ wsProgress }}%{% endif %}">
    <span class="ws-period">
      {{ 'tsio.workshop.ui_timing' | t }}
      <time class="ws-countdown" datetime="{{ wsEnds }}">{{ wsEnds }}</time>
    </span>
    <span>
      <span class="pre-sale">
        {{ 'tsio.workshop.ui_compare_at_price' | t }}
        <span class="price">{{ product.price | money | remove:'.00' }}</span>
      </span>
      <span class="regular">
        {{ 'tsio.workshop.ui_price' | t }}
        <s>{% include 'tsio-workshop-msrp' %}</s>
      </span>
      <span class="funding">
        {{ 'tsio.workshop.ui_progress' | t }}
        <span class="ws-progress">{{ wsProgress }}%</span>
      </span>
    </span>
    <a href="{{ product.url }}" class="awesome">{{ 'tsio.workshop.ui_active_cta' | t }}</a>
  </span>
</li>
