<li id="campaign-{{ product.handle }}" data-id="{{ product.id }}" data-pre-funding="false" class="product-campaign in-production {% cycle group: ' first','',' last' %}">
  {%- assign img_size = 'large' -%}
  {%- if product.tags contains 'SPACER' -%}
    <figure>
      <img class="lazyload"
        src="{{ product.images[0] | img_url: '480px', format: 'pjpg' }}"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-srcset="{{ product.images[0] | img_url: '480x', format: 'pjpg' }} 480w,
          {{ product.images[0] | img_url: '160x', format: 'pjpg' }} 160w,
          {{ product.images[0] | img_url: '240x', format: 'pjpg' }} 240w,
          {{ product.images[0] | img_url: '600x', format: 'pjpg' }} 600w,
          {{ product.images[0] | img_url: '1024x', format: 'pjpg' }} 1024w"
        data-sizes="auto"
        alt="{{ product.title | escape }}">
    </figure>
  {%- else -%}
    <figure>
      <div class="above">
        {%- assign wsMeta = product.metafields['tsio-workshop'] -%}
        {%- assign wsData = wsMeta['data'] -%}
        {%- assign wsTarget = wsData['threshold'] -%}
        {%- assign wsSales = wsData['num_sold'] -%}
        {%- assign wsProgress = wsSales | times: 100 | divided_by: wsTarget | round -%}
        <span class="progress-text">Funded {{ wsProgress }}%</span>
        {%- include 'tsio.tsio-workshop-estimated-shipping-range', preSaleProduct: product -%}
        {%- assign shipDateToShow = estShipRangeTotal -%}
        <span class="shipping-estimate">{{ 'tsio.workshop.ui_shipping' | t }} {{ shipDateToShow }}</span>
      </div>
      <a href="/collections/workshop{{ product.url }}">
        {%- if product.images.size > 1  -%}
          <img class="lazyload feature"
            src="{{ product.images[0] | img_url: '480x', format: 'pjpg' }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ product.images[0] | img_url: '480x', format: 'pjpg' }} 480w,
              {{ product.images[0] | img_url: '160x', format: 'pjpg' }} 160w,
              {{ product.images[0] | img_url: '240x', format: 'pjpg' }} 240w,
              {{ product.images[0] | img_url: '600x', format: 'pjpg' }} 600w,
              {{ product.images[0] | img_url: '1024x', format: 'pjpg' }} 1024w"
            data-sizes="auto"
            alt="{{ product.title | escape }} - featured image">
          <img class="lazyload lazypreload swap"
            src="{{ product.images[1] | img_url: '480x', format: 'pjpg' }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ product.images[0] | img_url: '480x', format: 'pjpg' }} 480w,
              {{ product.images[1] | img_url: '160x', format: 'pjpg' }} 160w,
              {{ product.images[1] | img_url: '240x', format: 'pjpg' }} 240w,
              {{ product.images[1] | img_url: '600x', format: 'pjpg' }} 600w,
              {{ product.images[1] | img_url: '1024x', format: 'pjpg' }} 1024w"
            data-sizes="auto"
            alt="{{ product.title | escape }} - alternate view">
        {%- else -%}
          <img class="lazyload"
            src="{{ product.images[0] | img_url: '480x', format: 'pjpg' }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ product.images[0] | img_url: '480x', format: 'pjpg' }} 480w,
              {{ product.images[0] | img_url: '160x', format: 'pjpg' }} 160w,
              {{ product.images[0] | img_url: '240x', format: 'pjpg' }} 240w,
              {{ product.images[0] | img_url: '600x', format: 'pjpg' }} 600w,
              {{ product.images[0] | img_url: '1024x', format: 'pjpg' }} 1024w"
            data-sizes="auto"
            alt="{{ product.title | escape }} - featured image">
        {%- endif -%}
      </a>
      <figcaption>
        <b>
          {%- assign splitTitle = product.title | split: ' in ' -%}
          <span class="title">{{ splitTitle[0] | rstrip }}</span>
          <!-- splitTitle.size: {{ splitTitle.size }} -->
          {%- if splitTitle.size > 1 -%}
            <span class="subtitle">in {{ splitTitle[1] | lstrip }}</span>
          {%- endif -%}
          {%- if product.tags contains 'PRE-ORDER' -%}
            <span class="pricing">
              {% if product.compare_at_price %} <del>{{ product.compare_at_price_max | money | remove: '.00' }}</del> {% endif %}
              {{ product.price_max | money | remove: '.00' }} {{ 'collections.workshop.title_pre_order' | t }}
            </span>
            <a href="{{ product.url }}" class="awesome">{{ 'collections.workshop.title_pre_order' | t }}</a>
          {%- else -%}
            <span class="pricing">{{ product.price_max | money | remove: '.00' }}</span>
          {%- endif -%}
        </b>
      </figcaption>
    </figure>
  {%- endif -%}
</li>